<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trang thông tin chính thức của trường THCS&amp;THPT Lương Thế Vinh</title>

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/css/styles.css">
    
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="../static/images/logo_.png" alt="" class="nav__logo-img">
                

            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link">Trang chủ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">Giới Thiệu</a>
                    </li>

                    <li class="nav__item">
                        <a href="https://tuyensinh.luongthevinh.com.vn/" class="nav__link">Tuyển Sinh</a>
                    </li>

                    <li class="nav__item">
                        <a href="#pricing" class="nav__link">Thông Báo</a>
                    </li>

                    <li class="nav__item">
                        <a href="#pricing" class="nav__link">Sự Kiện</a>
                    </li>

                    <li class="nav__item">
                        <a href="#pricing" class="nav__link">Tin Tức</a>
                    </li>

                    <li class="nav__item">
                        <a href="#pricing" class="nav__link">Hoạt động</a>
                    </li>

                    <li class="nav__item">
                        <a href="https://online.luongthevinh.com.vn/" id="sc" class="nav__link">Ôn luyện trực tuyến</a>
                    </li>
                    
                    

                </ul>

                <div class="nav__close" id="nav-close">
                    <i class='bx bx-x'></i>
                </div>

                
            </div>

            

        </nav>
    </header>

    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home container" id="home">
            <div class="swiper home-swiper">
                <div class="swiper-wrapper">
                    <!-- HOME SLIDER 1 -->
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__group">
                                <img src="../static/images/gtc_ltv.jpg" alt="" class="home__img">
                                <div class="home__indicator"></div>

                                <div class="home__details-img">
                                    <h4 class="home__details-title">Lương Thế Vinh</h4>
                                    <span class="home__details-subtitle">Mái trường của sự yêu thương</span>
                                </div>
                            </div>

                            <div class="home__data">
                                <h3 class="home__subtitle">Thương Hiệu</h3>
                                <h1 class="home__title">Có chí thì nên</h1>
                                <p class="home__description">
                                    Ở Hà Nội, có một trường Dân lập mà cứ đến mùa tuyển sinh, hàng ngàn phụ huynh từ nhiều nơi đổ về xếp hàng từ nửa đêm để được đăng ký cho con mình có cơ hội được vào học, dù chấp nhận học xa và phải chi khoản học phí gấp vài lần trường công lập.<br>Đó là trường THPT Dân lập Lương Thế Vinh, Hà Nội, với vị hiệu trưởng mà mọi người đều biết tiếng – Thầy Văn Như Cương …
                                </p>

                                <div class="home__buttons">
                                    <a href="#services" target="_blank" class="button">Giới Thiệu</a>

                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- HOME SLIDER 2 -->
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__group">
                                <img src="../static/images/kg.jpg" alt="" class="home__img">
                                <div class="home__indicator"></div>

                                <div class="home__details-img">
                                    <h4 class="home__details-title">Chào đón năm học mới</h4>
                                    <span class="home__details-subtitle">Đón chào thắng lợi mới</span>
                                </div>
                            </div>

                            <div class="home__data">
                                <h3 class="home__subtitle">Hoạt động</h3>
                                <h1 class="home__title">Lễ Khai Giảng năm học <br>2023-2024</h1>
                                <p class="home__description">

                                    
                                </p>

                                <div class="home__buttons">
                                    <a href="#about" target="_blank" class="button">Tìm hiểu thêm</a>

                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- HOME SLIDER 3 -->
                    <section class="swiper-slide">
                        <div class="home__content grid">
                            <div class="home__group">
                                <img src="../static/images/sp.jpg" alt="" class="home__img">
                                <div class="home__indicator"></div>

                                <div class="home__details-img">
                                    <h4 class="home__details-title">Kênh liên hệ</h4>
                                    <span class="home__details-subtitle">Hỗ trợ giải đáp thắc mắc</span>
                                </div>
                            </div>

                            <div class="home__data">
                                <h3 class="home__subtitle">Liên Hệ</h3>
                                <h1 class="home__title">Phương thức liên hệ tư vấn<br>đa dạng</h1>
                                <p class="home__description">
                                    
                                </p>

                                <div class="home__buttons">
                                    <a target="_blank" class="button">Liên hệ ngay</a>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>


         <!--==================== ABOUT ====================-->
         <section class="section about" id="about">
            <div class="about__container container grid">
                <div class="about__data">
                    <h2 class="section__title about__title">Giới Thiệu</h2>
                    <p class="about__description">Trường THPT Lương Thế Vinh được thành lập ngày 01/06/1989 theo quyết định của UBND Thành phố Hà Nội, do nhà giáo Văn Như Cương làm hiệu trưởng. Từ năm học đầu tiên (1989 – 1990) với 800 học sinh khối THPT, đến nay trường đã có hơn 3400 học sinh ở cả 2 khối cấp. Ngay từ khi mới thành lập, nhà trường luôn kiên trì mục tiêu đào tạo kép: “Giáo dục toàn diện cho học sinh thi đỗ tốt nghiệp và chuẩn bị tốt nhất cho học sinh thi đỗ vào các trường Đại học và Cao đẳng”.
                    
                    </p>
                    </p>
                    <a href="" target="_blank" class="button">Tìm hiểu chi tiết</a>
                </div>

                <img src="../static/images/about-us.jpg" alt="" class="about__img">
            </div>
        </section>

        <!--==================== CATEGORY ====================-->
        <section class="section category" id="services">
            <h2 class="section__title">Services</h2>

            <div class="category__container container grid">
                
                <div class="category__data0">
                    <img src="../static/images/moto.jpg" alt="" class="category__img">
                    <h3 class="category__title"> #1 Motobike</h3>
                    <p class="category__description">5$/km</p>
                </div>


                <div class="category__data1">
                    <a href="users.html"><img src="../static/images/bus.jpg" class="category__img"></a>
                    <h3  class="category__title"> #2 Coach</h3>
                    <p class="category__description">5-20$/ticket</p>
                </div>



                <div class="category__data2">
                    <img src="../static/images/lux.jpg" alt="" class="category__img">
                    <h3 class="category__title"> #3 Private car</h3>
                    <p class="category__description">10$/km, Economic Class
                        <br>50$/km, Premium Class<br>
                        100$/km, Business Class
                    </p>
                </div>

            </div>
        </section>

       

        <!--==================== Payment ====================-->
        <section class="section trick" id="pm" >
            <h2 class="section__title">Payment Methods</h2>

            <div class="trick__container container grid">
                <div class="trick__content">
                    <img src="../static/images/card_ico.png" alt="" class="trick__img">
                    <h3 class="trick__title">Card</h3>

                    <a href="" target="_blank" class="button trick__button">
                        <i class='bx bx-cart-alt trick__icon'></i>
                    </a>
                </div>

                <div class="trick__content">
                    <img src="../static/images/momo_ico.png" alt="" class="trick__img">
                    <h3 class="trick__title">Momo</h3>

                    <a href="" target="_blank" class="button trick__button">
                        <i class='bx bx-cart-alt trick__icon'></i>
                    </a>
                </div>

                <div class="trick__content">
                    <img src="../static/images/payment methods.png" alt="" class="trick__img">
                    <h3 class="trick__title">Other Methods</h3>

                    <a href="payment.html" target="_blank" class="button trick__button">
                        <i class='bx bx-cart-alt trick__icon'></i>
                    </a>
                </div>
            </div>
        </section>

        <!--==================== DISCOUNT ====================-->
        <section class="section discount" id="dis">
            <div class="discount__container container grid">
                <div class="discount__data">
                    <h2 class="discount__title">Looking for Discounts? <br> Stay tuned on our fanpage!</h2>
                    <a href="https://discord.gg/fx37Wj4zSy" target="_blank" class="button">Join the fanpage now!</a>
                </div>

                <img src="../static/images/discount.png" alt="" class="discount__img">
            </div>
        </section>

        
        
        
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <img src="../static/images/logo.ico" alt="" class="footer__logo-img">

                </a>

                <p class="footer__description">Trường THCS&THPT Lương Thế Vinh </p>

                <div class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram-alt'></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter'></i>
                    </a>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">About</h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="#services" class="footer__link">Services</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">News</a>
                    </li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Billing</h3>

                <ul class="footer__links">
                    <li>
                        <a href="#pm" class="footer__link">Payment Methods</a>
                    </li>
                    <li>
                        <a href="#dis" class="footer__link">Discounts</a>
                    </li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Contact</h3>

                <ul class="footer__links">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="footer__link"> Join us on Facebook

                            </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="footer__link"> Follow us on instagram</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank" class="footer__link"> Follow us on Twitter</a>
                    </li>
                </ul>
            </div>
        </div>

        <span class="footer__copy">&#169; Trường THCS&THPT Lương Thế Vinh 2024. All rights reserved</span>
    </footer>



    
    <script defer src="https://app.fastbots.ai/embed.js" data-bot-id="cluzlfyy600ceohb430ueyabs"></script>
   
    

    <!--=============== SCROLL REVEAL ===============-->
    <script src="../static/javascript/js/scrollreveal.min.js"></script>
    

    <!--=============== SWIPER JS ===============-->
    <script src="../static/javascript/js/swiper-bundle.min.js"></script>
    

    <!--=============== MAIN JS ===============-->
    <script src="../static/javascript/js/main.js"></script>
    

</body>

</html>