<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trang thông tin chính thức của trường THCS&amp;THPT Lương Thế Vinh</title>

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/css/styles.css">
    
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="../static/images/logo_.png" alt="" class="nav__logo-img">
                

            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link">Trang chủ</a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">Giới Thiệu</a>
                    </li>

                    <li class="nav__item">
                        <a href="https://tuyensinh.luongthevinh.com.vn/" class="nav__link">Tuyển Sinh</a>
                    </li>

                    <li class="nav__item">
                        <a href="#pricing" class="nav__link">Thông Báo</a>
                    </li>

                    <li class="nav__item">
                        <a href="#pricing" class="nav__link">Sự Kiện</a>
                    </li>

                    <li class="nav__item">
                        <a href="#pricing" class="nav__link">Tin Tức</a>
                    </li>

                    <li class="nav__item">
                        <a href="#pricing" class="nav__link">Hoạt động</a>
                    </li>

                    <li class="nav__item">
                        <a href="https://online.luongthevinh.com.vn/" id="sc" class="nav__link">Ôn luyện trực tuyến</a>
                    </li>
                    <a href="#" id="userlink" class="button button--in" >Xin chào - </a>
                    <a href="#" id="signoutlink" class="button button--out">Đăng xuất</a>

                </ul>

                <div class="nav__close" id="nav-close">
                    <i class='bx bx-x'></i>
                </div>

                <img src="../assets/img/nav-img.png" alt="" class="nav__img">
            </div>

            

        </nav>
    </header>

    
    <!-- ========GAN WELCOME================ -->
    <script>
        // Khai báo biến

        const userlink = document.getElementById('userlink');
        const sc = document.getElementById('sc');
        const signoutlink = document.getElementById('signoutlink');
        var curUsername = null;
        // document.getElementById('userInp');

        // trạng thái họ tên

        function getCurUsername() {
            let keepLogIn = localStorage.getItem("keepLogIn");

            if (keepLogIn == "Yes") {
                console.log(3);
                curUsername = JSON.parse(localStorage.getItem('user'));
                console.log(44);

            } else {
                console.log(4);

                curUsername = JSON.parse(sessionStorage.getItem('user'));
                console.log(42);

            }
        }

        //signout
        function Signout() {
            sessionStorage.removeItem('user');
            localStorage.removeItem('user');
            localStorage.removeItem('keepLogIn');
            window.location = "index.html";
        }

        //reload
        window.onload = function () {
            getCurUsername();
            if (curUsername == null) {
                console.log("1");
                userlink.remove();
                sc.remove();
                // userlink.href = "#";

                signoutlink.innerText = "Đăng Nhập";
                signoutlink.href ="log.html";
            } else {
                console.log("2");

                userlink.innerText = " Xin chào - " + curUsername.name;
                userlink.href = "#";

                signoutlink.innerText = "Đăng Xuất";
                signoutlink.href = "javascript:Signout()";
            }
        }
    </script>
    <!-- =============== SCROLL UP ===============
    <a href="#" class="scrollup" id="scroll-up">
        <i class='bx bx-up-arrow-alt scrollup__icon'></i>
    </a> -->

    <!--=============== SCROLL REVEAL ===============-->
    <script src="../static/javascript/js/scrollreveal.min.js"></script>
    

    <!--=============== SWIPER JS ===============-->
    <script src="../static/javascript/js/swiper-bundle.min.js"></script>
    

    <!--=============== MAIN JS ===============-->
    <script src="../static/javascript/js/main.js"></script>
    
</body>

</html>